<app-banner />
<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<span class="pi pi-search"></span>
<span class="pi pi-user"></span>
<p-accordion [activeIndex]="0">
  <p-accordionTab header="Header I">
      <p>
          Lorem ipsum dolor sit amet...
      </p>
  </p-accordionTab>
  <p-accordionTab header="Header II">
      <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
      </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
      <p>
          At vero eos et accusamus et iusto odio dignissimos...
      </p>
  </p-accordionTab>
</p-accordion>

<app-product></app-product>

